<div class="wholePage" ng-hide="$ctrl.showMod.repModule">


  <div class="replist">
    <div class="buttonHouse">
      <button class="backToMap" type="button" name="back" ng-click="$ctrl.backToMap()">Back</button>
      <button class="houseSenateToggleButton" type="button" name="reps" ng-click="showPage.houseToggle = false">House</button>
      <button class="houseSenateToggleButton" type="button" name="sens" ng-click="showPage.houseToggle = true">Senate</button>
    </div>

    <span us-spinner="{radius:30, width:8, length: 16}"></span>
    <div class="card">
      <div class="main" ng-repeat="rep in $ctrl.reps | orderBy: 'district*1'" ng-class="{blue: rep.party == 'D', red: rep.party == 'R'}" ng-hide="showPage.houseToggle" ng-click="$ctrl.getRep(rep.api_uri)">
        <div class="info">
          <div class="repName">
            {{rep.name}}
          </div>
          <div class="indent">
            District {{rep.district}}
          </div>
          <div class="indent">
            Elected - {{rep.next_election-rep.seniority}}
          </div>
        </div>
        <div class="icons">
          <a href="http://www.twitter.com/{{rep.twitter_id}}" class="fa fa-twitter" ng-if="rep.twitter_id"></a>
          <a href="http://www.youtube.com/{{rep.youtube_id}}" class="fa fa-youtube" ng-if="rep.youtube_id"></a>
        </div>
      </div>

      <div class="main" ng-repeat="sen in $ctrl.senators | orderBy: 'seniorityt*1'" ng-class="{blue: sen.party == 'D', red: sen.party == 'R'}" ng-show="showPage.houseToggle" ng-click="$ctrl.getRep(sen.api_uri)">
        <div class="info">
          <div class="repName">
            {{sen.name}}
          </div>
          <div class="indent">
            {{sen.role}}
          </div>
          <div class="indent">
            Elected - {{2018-sen.seniority}}
          </div>
        </div>
        <div class="icons">
          <a href="http://www.twitter.com/{{sen.twitter_id}}" class="fa fa-twitter" ng-if="sen.twitter_id"></a>
          <a href="http://www.youtube.com/{{sen.youtube_id}}" class="fa fa-youtube" ng-if="sen.youtube_id"></a>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="details">
    <div class="namePlate">

    </div>
  </div> -->
  <singlerep class="details"></singlerep>
</div>
