.test {
  border: solid 2px green;
}

.fa-twitter {
  color: hsl(240,50%,70%);
  font-size: 150pt;
}

.fa-youtube {
  color: hsl(0,50%,50%);
  font-size: 150pt;
  font-size: 20pt;
}

.fa {
  font-size: 28pt;
}

.wholePage {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.replist {
  width: 27%;
}

.main {
  padding-bottom: .3em;
  padding-left: .1em;
  padding-top: .1em;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card {
  overflow: scroll;
  width: 100%;
  height: 560px;
  font-family: 'Cinzel', serif;
  font-size: 12pt;
  color: white;
  margin-top: 5px;
  /*text-shadow: 2px 2px 2px black;*/
}

.details {
  width: 70%;
  height: 550px;
}

.red {
  border-bottom: 2px solid hsl(0,50%,50%);
  background: white;
  color: hsl(0,50%,50%);
}

.blue {
  border-bottom: 2px solid hsl(240,50%,70%);
  background: white;
  color: hsl(240,50%,70%);
}

.repName {
  font-size: 18pt;
  padding-bottom: .1em;
  margin-top: 3px;
  margin-left: 6px;
}

.indent {
  padding-left: 2.4em;
  margin-top: .05em;
  font-size: 13pt;
}

.houseSenateToggleButton {
  color: white;
  background-color: darkgrey;
  width: 40%;
  height: 1.6em;
  border: none;
  text-shadow: 1px 1px 10px grey;
}

.backToMap {
  color: white;
  background-color: darkgrey;
  width: 15%;
  height: 1.6em;
  border: none;
  text-shadow: 1px 1px 10px grey;
}

.buttonHouse {
  width: 100%;
  font-family: 'Cinzel', serif;
  font-size: 12pt;
  color: black;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  outline: none;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 30%;
}
