.voteRecordBody {
  font-family: 'Cinzel', serif;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.voteCount {
  font-family: 'Cinzel', serif;
  font-size: 12pt;
}

.billHeader {
  font-size: 22pt;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.billTitle {
  font-size: 16pt;
  margin-top: 8px;
  margin-left: 5px;
}

.billBody {
  font-size: 13t;
  margin-top: 25px;
  margin-left: 9px;
}

.voteButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px;
}

.voteButton {
  border: 2px solid hsl(0,50%,50%);
  background: none;
  outline: none;
  height: 20%;
  width: 20%;
  color: hsl(0,50%,50%);
}

.yesvoteButton {
  border: 2px solid hsl(120,50%,50%);
  background: none;
  outline: none;
  height: 20%;
  width: 20%;
  color: hsl(120,50%,50%);
}

.pdfButton {
  border: 2px solid hsl(240,50%,70%);
  background: none;
  outline: none;
  height: 15%;
  width: 15%;
  color: hsl(240,50%,70%);
}

.pdfButton:hover {
  color: white;
  background-color: hsl(240,50%,70%);
}

.billInfo {
  width: 90%;
  border-bottom: 2px solid hsl(240,50%,70%);
  padding: 10px 10px 30px 10px;
}

.directionButtons {
  outline: none;
  font-size: 15pt;
  border: none;
  height: 40%;
  background: none;
  color: black;
  color: hsl(240,50%,70%);
}

.voteButton:hover {
  background-color: hsl(0,50%,50%);
  color: white;
}

.yesvoteButton:hover {
  background-color: hsl(120,50%,50%);
  color: white;
}

.yesVoted {
  background-color: hsl(120,50%,50%);
  color: white;
}

.noVoted {
  background-color: hsl(0,50%,50%);
  color: white;
}
