<div class="voteRecordBody test" ng-show="$ctrl.show.votes">
  <div class="directionButtons">
    <button type="button" name="button" ng-click="$ctrl.forwardCycle()"><</button>
    <button type="button" name="button" ng-click="$ctrl.forwardCycle()">></button>
  </div>
  <div class="billHeader">
    {{$ctrl.votesDb[$ctrl.selector].number}}
  </div>
  <div class="billTitle">
    {{$ctrl.votesDb[$ctrl.selector].title}}
  </div>
  <div class="billBody">
    {{$ctrl.votesDb[$ctrl.selector].summary}}
  </div>

  <div class="voteButtons">
    <button type="button" name="button">Yes</button>
    <button type="button" name="button">No</button>
  </div>
  <div class="directionButtons">
    <button type="button" name="button" ng-click="">PDF</button>
  </div>

</div>
