<div class="voteRecordBody" ng-show="$ctrl.show.votes">
  <div class="billInfo" ng-repeat="bill in $ctrl.votesDb track by $index">
    <div class="billHeader">
      {{bill.number}}
    </div>
    <div class="billTitle">
      {{bill.title}}
    </div>
    <div class="billBody">
      {{bill.summary}}
    </div>

    <div class="voteButtons">
      <button type="button" name="button" id="yes{{$index}}" class="yesvoteButton" ng-click="$ctrl.yesVote($event, $index)" ng-class="{yesVoted: $ctrl.yesVotes.indexOf(bill.id) != -1}">Yes</button>
      <button type="button" name="button" ng-click="$ctrl.displayPdf($index)" class="pdfButton">PDF</button>
      <button type="button" name="button" class="voteButton" id="no{{$index}}" ng-click="$ctrl.noVote($event, $index)" ng-class="{noVoted: $ctrl.noVotes.indexOf(bill.id) != -1}">No</button>
    </div>
  </div>
</div>
