<div class="bodyContainer" ng-show="$ctrl.show.login">
  <div class="menuColumn reps" ng-click="$ctrl.representativeToggle()">
    Representatives </br>
    Senators
  </div>
  <div class="menuColumn bills">
    Legislation
  </div>
  <div class="menuColumn commitees">
    Committees
  </div>
  <div class="menuColumn votes" ng-if="!$ctrl.auth.isAuthenticated()" ng-click="$ctrl.auth.login()">
    Login
  </div>
  <div class="menuColumn votes" ng-if="$ctrl.auth.isAuthenticated()" ng-click="$ctrl.gotoVotes()">
    VOTE
  </div>
</div>
