svg .state {
    stroke-width: 1;
    stroke: #fff;

    -webkit-transition: stroke 0.5s, stroke-width 0.5s;
    -o-transition: stroke 0.5s, stroke-width 0.5s;
    transition: stroke 0.5s, stroke-width 0.5s;
}
svg .state:hover , .state.active {
    cursor: pointer;
    fill: darkgrey;
}
.regionlist {
    -webkit-column-count: 5; /* Chrome, Safari, Opera */
    -moz-column-count: 5; /* Firefox */
    column-count: 5;
}
.regionlist > div {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid grey;
}
.regionlist > div > div {
    display: inline-block;
    width: 48%;
}

.maptest {
  height: 600px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mapPosition {
  margin-left: 80px;
}

.choose {
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 2px solid hsl(0,50%,50%);
  margin-left: -50px;
  height: 400px;
}

.chooseText {
  color: hsl(0,50%,50%);
  font-family: 'Cinzel', serif;
  font-size: 60pt;
}
